*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(80, 80, 80);
    color: #000000;
    width: 100%;
}

main{
    margin: 0 75px;
}

.encabezado{
    width: 100%;
    display: inline;
}

/*Empieza el primer contendor redes*/
.redes{
    height: 35px;
    display: flex;
    background: linear-gradient(to right, black 60%, #457e7e );
    justify-content: right;
    align-items: center;
    transition: height 1s;
}

.redes:hover{
    height: 50px;
    transition: height 1s;
}

.redes img{
    width: 27px;
    display: inline-block;
    margin: 0 5px;
    padding-top: 5px;
    transition: 1s;
}

.redes img:hover{
    width: 40px;
    transition: 1s;
}

.redes a{
    text-decoration: none;
    color: #457e7e;
    font-family: 'Open Sans Condensed', sans-serif;
}

.redes a:hover{
    color: rgba(255, 255, 0, 0.637);
}

.logo{
    margin-right: auto;
    padding-left: 5px;
    font-size: 20px;
}

/*Empieza el segundo contenedor que contiene el menu con acceso a las otras paginas*/
.menu{
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    transition: height 1s, background-color 2s;
    z-index: 300;
}
.menu:hover{
    height: 65px;
    transition: height 1s, background-color 2s;
    background-color: #000000c9;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    font-size: 21px;
    padding: 10px;
    margin: 0px 5px;
    transition: 1s;
}

.menu li:hover{
    font-size: 25px;
    transition: 1s;
}

.menu li a{
    text-decoration: none;
    color: #457e7e;
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu li a:hover{
    color: rgba(255, 255, 0, 0.637);
}

.logoMenu img{
    height: 45px;
    width: auto;    
}
.logoMenu{
    margin-right: auto;
    padding: 5px;
}

/*Propiedades del titulo de la pagina*/
h1{
    margin: 0px 0px;
    font-size: 45px;
    color: black;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

/*grid de la pagina index*/
#grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas: "area1 area2"
                         "area3 area4"
                         "area5 area6"
    ;
    row-gap: 60px;
}

#noticia1{
    grid-area: area1;
}

#texto1{
    grid-area: area2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    align-self: center;
    border-top: 3px solid black;

}

#texto1 p{

    font-size: 16px;
    font-family: 'Pontano Sans', sans-serif;
    margin-top: 15px;
}

#noticia2{
    grid-area: area4;
}

#texto2{
    grid-area: area3;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 15px;
    align-self: center;
    border-top: 3px solid black;

}

#texto2 p{

    font-size: 16px;
    font-family: 'Pontano Sans', sans-serif;
    margin-top: 15px;
}

#noticia3{
    grid-area: area5;
}

#texto3{
    grid-area: area6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    align-self: center;
    border-top: 3px solid black;
}

#texto3 p{
    font-size: 16px;
    font-family: 'Pontano Sans', sans-serif;
    margin-top: 15px;
}

#grid img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/*grid articulos*/
.grid2{
    display: grid;
    grid-template-columns: 64% 23%;
    grid-template-rows: 600px 1700px;
    grid-template-areas: "area1 area3"
                         "area1 area2"
    ;
    column-gap: 150px;
    row-gap: 70px;
}

.noticia{
    grid-area: area1;
}

.contenido{
    grid-area: area2;
}

.ads{
    grid-area: area3;
}

.noticia img{
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;

}

.contenido img{
    max-width: 100%;
    width: 100%;
    height: 200px;
}


.ads img{
    max-width: 100%;
    width: 100%;
    
}

.grid2 h2{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 50px;

}

.grid2 p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;

    margin: 18px 0;
}

.contenido h2{
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}

.contenido p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;

}

/*propiedades de las paginas del footer*/
.contacto{
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    color: black;
    animation: color 3s infinite
}

@keyframes color {
    0%{
        color: black;
        font-size: 34px;
    }

    50%{
        color: rgb(177, 174, 32);
        font-size: 36px;
    }


}

input{
    margin: 4px;
}

label{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

textarea{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

/*Propiedades del footer aplicando flex*/
.pie{
    color: #457e7e;
    background-color: black;
    display: flex;
    height: 120px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.pie h3{
    margin: 0;
    font-size: 35px;
    font-family: 'Barlow Condensed', sans-serif;
}

.pie p{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Pontano Sans', sans-serif;
}

.pie button{
    cursor: pointer;  
    color: rgba(245, 245, 245, 0.808); 
    background-color: #457e7e; 
    border-radius: 80px; 
    border: none; 
    font-weight: bold; 
    font-size: 17px; 
    letter-spacing: 2px;
    padding: 10px;
    margin: 0 3px;
}

.boton{
    display: flex;
    margin-top: 15px;
}