*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0f0f0f;
    width: 100%;
}

main{
    margin: 0 75px;
}

.encabezado{
    width: 100%;
    display: inline;
}

/*Empieza el primer contendor redes*/
.redes{
    height: 45px;
    display: flex;
    background: linear-gradient(to right, black 60%,   #457e53 );
    justify-content: right;
    align-items: center;
}

.redes img{
    width: 27px;
    display: inline-block;
    margin: 0 5px;
    padding-top: 5px;
    transition: 1s;
}

.redes img:hover{
    width: 40px;
    transition: 1s;
}

.redes a{
    text-decoration: none;
    color:  #949280;
    font-family: 'Orbitron', sans-serif;
}

.logo{
    margin-right: auto;
    margin-left: 5px;
    font-size: 18px;
}

.logo p{
    margin-bottom: 0px;
}

.logoRedes img{
    padding: 0px;
    margin: 0px 3px;
}

.dropdown{
    visibility: hidden;
}

/*Empieza el segundo contenedor que contiene el menu con acceso a las otras paginas*/
.menu{
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 65px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    transition: background-color 2s;
    z-index: 300;
}
.menu:hover{
    transition: background-color 2s;
    background-color: #000000c9;
}

.navegacion ul{
    margin-bottom: 0px;
}

.navegacion li{
    list-style-type: none;
    display: inline-block;
    font-size: 17px;
    padding: 5px;
    margin: 0px 5px;
    transition: 1s;
}

.navegacion li:hover{
    font-size: 22px;
    transition: 1s;
}

.navegacion li a{
    text-decoration: none;
    color: #967882;
    font-family: 'Orbitron', sans-serif;
}

.navegacion li a:hover{
    color: rgba(255, 255, 101, 0.637);
}

.logoMenu img{
    height: 100px;
    width: auto;    
}
.logoMenu{
    margin-right: auto;
    padding: 5px;
    margin-left: 50px;
}

/*Propiedades del titulo de la pagina*/
h1{
    margin: 0px 0px;
    font-size: 45px;
    color:  #949280;
    font-family: 'Orbitron', sans-serif;
    margin: 60px 20px 60px 20px;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: right;



}

a{
    text-decoration: none;
}

/*grid de la pagina index*/
#grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 580px 580px 580px;
    grid-template-areas: "area1 area2"
                         "area3 area4"
                         "area5 area6"
    ;
    row-gap: 60px;
}

#noticia1{
    grid-area: area1;
}

#texto1{
    grid-area: area2;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-left: 15px;
    align-self: center;

}

#texto1 h2{
   color: #967882 ;
   border-top: 3px solid black;
   border-bottom: 3px solid black;
   text-align: justify;
}

#texto1 p{

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    color:  #949280;
}

#noticia2{
    grid-area: area4;
}

#texto2{
    grid-area: area3;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-right: 15px;
    align-self: center;

}

#texto2 h2{
    color: #967882;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: justify;
 }

#texto2 p{

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    color: #949280;
}

#noticia3{
    grid-area: area5;
}

#texto3{
    grid-area: area6;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-left: 15px;
    align-self: center;
}

#texto3 h2{
    color: #967882;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: justify;
 }

#texto3 p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    color: #949280;
}

#grid img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/*grid articulos*/
.grid2{
    display: grid;
    grid-template-columns: 64% 23%;
    grid-template-rows: 900px 600px 1250px;
    grid-template-areas: "area0 area0"
                         "area1 area2"
                         "area1 area2"
    ;
    column-gap: 150px;
    row-gap: 40px;
    margin-top: 30px;
    margin-bottom: 70px;
}

/*Portada*/

.portada{
    grid-area: area0;
}

.portada h2{
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    color: #967882;
}

.portada h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #949280;
    margin-bottom: 10px;

}

.portada p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #949280;
    margin-bottom: 3px;
}

.portada p span{
    color: #3f6153;
}

/*Noticia principal*/

.noticia{
    grid-area: area1;
}

.noticia h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
    margin: 10px 0px;
    color: #967882;
}

.noticia p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:  #949280;
}

/*Aside publicitario*/

.ads{
    grid-area: area2;
}

.publicidad{
    position: sticky;
    top: 85px;
}

.noticia img{
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;

}

.ads img{
    max-width: 100%;
    width: 100%;
    
}

/*Carousel con mas contenido del sitio*/

.carouselContenido{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
    color: #967882;
}

.carousel{
    width: 300px;
    height: 300px;
    margin: 20px auto 50px;

}

.carousel p{
    position: absolute;
    bottom: 0px;
    color: rgb(228, 228, 228);
    background-color: rgba(17, 17, 17, 0.61);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.carousel-caption {
    max-width: 100%;
    width:100%;
    left: 0;
}


/*propiedades de las paginas del footer*/

input{
    margin: 4px;
}

label{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

textarea{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

/*Propiedades del footer aplicando flex*/
.pie{
    color:  #3f6153;
    background-color: black;
    display: flex;
    height: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.pie h3{
    margin: 0;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.pie p{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btn{
    font-family: 'Orbitron', sans-serif;
}
/*
.pie button{
    cursor: pointer;  
    color: rgba(245, 245, 245, 0.808); 
    background-color:  #3f6153; 
    border-radius: 80px; 
    border: none; 
    font-weight: bold; 
    font-size: 17px; 
    letter-spacing: 2px;
    padding: 10px;
    margin: 0 3px;
    font-family: 'Montserrat', sans-serif;
}

.button{
    display: flex;
    margin-top: 15px;
}
*/




/*Media queries*/

@media only screen and (max-width: 1200px){
    main{
        margin: 0px;
    }

    .grid2 h2{
        margin: 10px 5px;
    }

    .grid2 p{
        margin: 0px 5px;
    }


}

@media only screen and (max-width: 992px){

    /*Barra de navegacion*/

    .menu a{
        font-size: 12px;
    }

    #grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #grid img{
        width: 1024px;
        height: auto;
    }

    #grid p{
        margin-top: 0px;
        margin-bottom: 100px;
    }

    #texto1{
        margin-left: 0;
        text-align: justify;
    }

    #texto2{
        margin-right: 0;
        text-align: justify;
    }

    #texto3{
        margin-left: 0;
        text-align: justify;
    }

    /*Contenido de la pagina*/

    .grid2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 800px 2000px 400px;
        grid-template-areas: "area0"
                             "area1"
                             "area2"
        ;
        row-gap: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .grid2 p{
        margin: 0px 5px;
    }

    .ads{
        align-self: center;
        justify-self: center;
    }

    .ads p{
        margin: auto;
    }

    .ads img{
        width: 250px;

    }

    .publicidad{
        position: static;
        display: flex;
    }

}

@media only screen and (max-width: 768px){   

    /*Atributos primer contenedor para logo y redes*/

    .redes{
        background: linear-gradient(to top, black 50%,   #457e53 );
    }

    .logo{

        margin: auto;
        font-size: 20px;

    }

    .logoRedes{
        display: none;
    }

    /*Atributos del contenedor menu*/

    .logoMenu{
        margin-left: 5px;
    }

    .navegacion{
        display: none;
    }
    
    .dropdown{
        visibility: visible;
        justify-self: right;       
        margin-right: 10px;
        font-family: 'Orbitron', sans-serif;
        
    }

    #dropdownMenuButton1{
        width: 190px;
        color:  #949280;
    }

    .dropdown-menu{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        min-width: 190px;
    }

    .menu ul li a {
        font-size: 15px;
        padding: 8px 0px;
    }

    .menu ul li a img{
        width: 30px;
    }

    /*contenido principal pagina*/

    h1{
        font-size: 40px;
        text-align: center;
        color: #967882;
    }

    .grid2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 750px 1900px 400px;
        grid-template-areas: "area0"
                             "area1"
                             "area2"
        ;
        row-gap: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    /*Contenido del footer*/

    .pie{
        height: 400px;
    }

}

@media only screen and (max-width: 576px){

    .grid2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 650px 2100px 350px;
        grid-template-areas: "area0"
                             "area1"
                             "area2"
        ;
        row-gap: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .publicidad{
        display: block;
        margin: 50px 0px;
    }

    .ads img{
        width: 130px;
    }




}

