* {
  margin: 0;
  padding: 0; }

main {
  margin: 0 75px; }

.menu {
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 65px;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
  transition: background-color 2s;
  z-index: 300; }

.menu:hover {
  transition: background-color 2s;
  background-color: #000000c9; }

.navegacion ul {
  margin-bottom: 0px; }

.navegacion li {
  list-style-type: none;
  display: inline-block;
  font-size: 17px;
  padding: 5px;
  margin: 0px 5px;
  transition: 1s; }

.navegacion li:hover {
  font-size: 22px;
  transition: 1s; }

.navegacion li a {
  text-decoration: none;
  color: #967882;
  font-family: "Orbitron", sans-serif; }

.navegacion li a:hover {
  color: rgba(255, 255, 101, 0.637); }

.logoMenu {
  margin-right: auto;
  padding: 5px;
  margin-left: 50px; }
  .logoMenu img {
    height: 100px;
    width: auto; }

.dropdown {
  visibility: hidden; }

.encabezado {
  width: 100%;
  display: inline; }

.redes {
  height: 45px;
  display: flex;
  background: linear-gradient(to right, black 60%, #457e53);
  justify-content: right;
  align-items: center; }
  .redes img {
    width: 27px;
    display: inline-block;
    margin: 0 5px;
    padding-top: 5px;
    transition: 1s; }
  .redes img:hover {
    width: 40px;
    transition: 1s; }
  .redes a {
    text-decoration: none;
    color: #949280;
    font-family: "Orbitron", sans-serif; }

.logo {
  margin-right: auto;
  margin-left: 5px;
  font-size: 18px; }
  .logo p {
    margin-bottom: 0px; }

.logoRedes img {
  padding: 0px;
  margin: 0px 3px; }

h1, .animate__fadeInLeft {
  font-size: 45px;
  color: #949280;
  font-family: "Orbitron", sans-serif;
  margin: 60px 20px 60px 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: right; }

.animate__fadeInLeft {
  text-decoration: 4px black underline;
  border: none; }

a {
  text-decoration: none; }

/*grid de la pagina index*/
#grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 580px 580px 580px;
  grid-template-areas: "area1 area2" "area3 area4" "area5 area6";
  row-gap: 60px; }
  #grid img {
    max-width: 100%;
    width: 100%;
    height: 100%; }

#noticia1 {
  grid-area: area1; }

#texto1 {
  grid-area: area2;
  align-self: center;
  margin-left: 15px; }

#noticia2 {
  grid-area: area4; }

#texto2 {
  grid-area: area3;
  margin-right: 15px;
  align-self: center; }

#noticia3 {
  grid-area: area5; }

#texto3 {
  align-self: center;
  margin-left: 15px;
  grid-area: area6; }

/*grid articulos*/
.grid2 {
  display: grid;
  grid-template-columns: 64% 23%;
  grid-template-rows: 900px 600px 1600px;
  grid-template-areas: "area0 area0" "area1 area2" "area1 area2";
  column-gap: 150px;
  row-gap: 40px;
  margin-top: 30px;
  margin-bottom: 70px; }

.portada {
  grid-area: area0; }

.noticia {
  grid-area: area1; }

.ads {
  grid-area: area2; }

/*Pagina Musica*/
#grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 290px 290px 290px 290px;
  grid-template-areas: "foto1 foto1 foto2 foto3" "foto1 foto1 foto4 foto4" "foto5 foto6 foto4 foto4" "foto7 foto7 foto8 foto9";
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center; }
  #grid1 img, #grid2 img, #grid3 img, #grid4 img, #grid5 img, #grid6 img {
    max-width: 100%;
    width: 100%;
    height: 100%; }

/*Pagina Cine*/
#grid2 {
  grid-template-areas: "foto1 foto2 foto3 foto3" "foto6 foto6 foto3 foto3" "foto6 foto6 foto7 foto7" "foto4 foto5 foto8 foto9"; }

/*Pagina Series*/
#grid3 {
  grid-template-areas: "foto1 foto1 foto2 foto3" "foto4 foto5 foto6 foto6" "foto7 foto7 foto6 foto6" "foto7 foto7 foto8 foto9"; }

/*Pagina Literatura*/
#grid4 {
  grid-template-areas: "foto1 foto6 foto6 foto4" "foto5 foto5 foto2 foto3" "foto5 foto5 foto7 foto7" "foto8 foto9 foto7 foto7"; }

/*Pagina Entretenimiento*/
#grid5 {
  grid-template-areas: "foto1 foto2 foto3 foto3" "foto4 foto4 foto3 foto3" "foto4 foto4 foto5 foto6" "foto7 foto8 foto9 foto9"; }

/*pagina lifestyle*/
#grid6 {
  grid-template-areas: "foto1 foto2 foto3 foto3" "foto4 foto4 foto5 foto6" "foto4 foto4 foto7 foto7" "foto8 foto9 foto7 foto7"; }

#mus1, #cine1, #series1, #lit1, #ent1, #life1 {
  grid-area: foto1;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus2, #cine2, #series2, #lit2, #ent2, #life2 {
  grid-area: foto2;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus3, #cine3, #series3, #lit3, #ent3, #life3 {
  grid-area: foto3;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus4, #cine4, #series4, #lit4, #ent4, #life4 {
  grid-area: foto4;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus5, #cine5, #series5, #lit5, #ent5, #life5 {
  grid-area: foto5;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus6, #cine6, #series6, #lit6, #ent6, #life6 {
  grid-area: foto6;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus7, #cine7, #series7, #lit7, #ent7, #life7 {
  grid-area: foto7;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus8, #cine8, #series8, #lit8, #ent8, #life8 {
  grid-area: foto8;
  position: relative;
  display: inline-block;
  text-align: center; }

#mus9, #cine9, #series9, #lit9, #ent9, #life9 {
  grid-area: foto9;
  position: relative;
  display: inline-block;
  text-align: center; }

.texto {
  position: absolute;
  bottom: 0px;
  color: #e4e4e4;
  background-color: rgba(17, 17, 17, 0.445); }
  .texto h2 {
    font-family: "Pontano Sans", sans-serif;
    font-size: 20px;
    font-weight: bold; }

#texto1 h2 {
  color: #949280;
  font-family: "Orbitron", sans-serif;
  font-size: 20px; }

#texto1 h3 {
  color: #967882;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 32px; }

#texto1 p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  color: #949280; }

#texto2 h2 {
  color: #949280;
  font-family: "Orbitron", sans-serif;
  font-size: 20px; }

#texto2 h3 {
  color: #967882;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 32px; }

#texto2 p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  color: #949280; }

#texto3 h2 {
  color: #949280;
  font-family: "Orbitron", sans-serif;
  font-size: 20px; }

#texto3 h3 {
  color: #967882;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 32px; }

#texto3 p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  color: #949280; }

#texto2 h2 {
  text-align: right; }

/*Portada*/
.portada h2 {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
  color: #967882; }

.portada h3 {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #949280; }

.portada p {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-bottom: 0px;
  text-align: center;
  color: #949280; }

.portada p span {
  color: #457e53; }

/*Noticia principal*/
.noticia h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: left;
  margin: 10px 0px;
  color: #967882; }

.noticia p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #949280;
  line-height: 25px; }

.noticia img {
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px; }

/*Aside publicitario*/
.publicidad {
  position: sticky;
  top: 85px; }

.ads img {
  max-width: 100%;
  width: 100%; }

/*propiedades de contacto*/
.contacto {
  position: relative;
  height: 80px;
  text-align: center;
  margin-bottom: 100px;
  font-size: 33px;
  font-family: "Montserrat", sans-serif;
  color: #949280;
  animation: color 3s infinite; }

@keyframes color {
  0% {
    color: #949280;
    font-size: 33px; }
  50% {
    color: rgba(255, 255, 101, 0.637);
    font-size: 35px; } }

form {
  color: #949280;
  font-family: "Montserrat", sans-serif; }
  form .btn {
    font-family: "Montserrat", sans-serif;
    margin: 20px 0px; }

.form-control:focus {
  border-color: grey;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px grey; }

.about {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #949280;
  margin-bottom: 50px; }

/*Propiedades del footer aplicando flex*/
.pie {
  color: #457e53;
  background-color: black;
  display: flex;
  height: 200px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; }
  .pie h3 {
    margin: 0;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    text-align: center; }
  .pie p {
    margin-top: 5px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.btn {
  font-family: "Orbitron", sans-serif; }

/*Carousel con mas contenido del sitio*/
.masContenido {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 100px 0px 40px 0px;
  color: #967882; }

.carouselContenido {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 20px 0px;
  color: #949280; }

.carousel-inner {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden; }

.carousel {
  width: 300px;
  height: 300px;
  margin: 20px auto 80px; }
  .carousel p {
    position: absolute;
    bottom: 0px;
    color: #e4e4e4;
    background-color: rgba(17, 17, 17, 0.445);
    font-family: "Pontano Sans", sans-serif;
    font-size: 20px;
    font-weight: bold; }

.carousel-caption {
  max-width: 100%;
  width: 100%;
  left: 0; }

/*Media queries*/
@media only screen and (max-width: 1200px) {
  main {
    margin: 0px; }
  .grid2 h2 {
    margin: 10px 5px; }
  .grid2 p {
    margin: 0px 5px; }
  /*Pagina Musica*/
  #grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "foto1 foto1" "foto1 foto1" "foto2 foto3" "foto7 foto7" "foto5 foto6"    "foto4 foto4" "foto4 foto4" "foto8 foto9";
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center; }
  #grid2 {
    grid-template-areas: "foto1 foto2" "foto3 foto3" "foto3 foto3" "foto7 foto7" "foto4 foto5" "foto6 foto6" "foto6 foto6" "foto8 foto9"; }
  /*Pagina Entretenimiento*/
  #grid5 {
    grid-template-areas: "foto3 foto3" "foto3 foto3" "foto1 foto2" "foto9 foto9" "foto5 foto6" "foto4 foto4" "foto4 foto4" "foto7 foto8"; }
  /*pagina lifestyle*/
  #grid6 {
    grid-template-areas: "foto1 foto2" "foto4 foto4" "foto4 foto4" "foto8 foto9" "foto7 foto7" "foto7 foto7" "foto3 foto3" "foto5 foto6"; }
  /*Pagina Literatura*/
  #grid4 {
    grid-template-areas: "foto6 foto6" "foto1 foto4" "foto5 foto5" "foto5 foto5" "foto2 foto3" "foto7 foto7" "foto7 foto7" "foto8 foto9"; }
  /*Pagina Series*/
  #grid3 {
    grid-template-areas: "foto1 foto1" "foto2 foto3" "foto6 foto6" "foto6 foto6" "foto4 foto5" "foto7 foto7" "foto7 foto7" "foto8 foto9"; } }

@media only screen and (max-width: 992px) {
  /*Barra de navegacion*/
  .header {
    position: relative; }
  .menu a {
    font-size: 12px; }
  #texto1 h2 {
    color: #949280;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    text-align: center; }
  #texto2 h2 {
    color: #949280;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    text-align: center; }
  #texto3 h2 {
    color: #949280;
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    text-align: center; }
  #grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    #grid img {
      width: 1024px;
      height: auto; }
    #grid p {
      margin-top: 0px;
      margin-bottom: 100px; }
  #texto1 {
    margin-left: 0;
    text-align: justify; }
  #texto2 {
    margin-left: 0;
    text-align: justify; }
  #texto3 {
    margin-left: 0;
    text-align: justify; }
  /*grid articulos*/
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 750px 2000px 550px;
    grid-template-areas: "area0" "area1" "area2";
    row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 0px; }
    .grid2 p {
      margin: 0px 5px; }
  .ads {
    align-self: flex-end;
    justify-self: center; }
    .ads p {
      margin: auto; }
    .ads img {
      width: 250px; }
  .publicidad {
    position: static;
    display: flex; }
  #carousel3 {
    display: none; }
  /*Pagina Musica*/
  #grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "foto1 foto1" "foto1 foto1" "foto2 foto3" "foto7 foto7" "foto5 foto6"    "foto4 foto4" "foto4 foto4" "foto8 foto9";
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center; }
  #grid2 {
    grid-template-areas: "foto1 foto2" "foto3 foto3" "foto3 foto3" "foto7 foto7" "foto4 foto5" "foto6 foto6" "foto6 foto6" "foto8 foto9"; }
  /*Pagina Entretenimiento*/
  #grid5 {
    grid-template-areas: "foto3 foto3" "foto3 foto3" "foto1 foto2" "foto9 foto9" "foto5 foto6" "foto4 foto4" "foto4 foto4" "foto7 foto8"; }
  /*pagina lifestyle*/
  #grid6 {
    grid-template-areas: "foto1 foto2" "foto4 foto4" "foto4 foto4" "foto8 foto9" "foto7 foto7" "foto7 foto7" "foto3 foto3" "foto5 foto6"; }
  /*Pagina Literatura*/
  #grid4 {
    grid-template-areas: "foto6 foto6" "foto1 foto4" "foto5 foto5" "foto5 foto5" "foto2 foto3" "foto7 foto7" "foto7 foto7" "foto8 foto9"; }
  /*Pagina Series*/
  #grid3 {
    grid-template-areas: "foto1 foto1" "foto2 foto3" "foto6 foto6" "foto6 foto6" "foto4 foto5" "foto7 foto7" "foto7 foto7" "foto8 foto9"; } }

@media only screen and (max-width: 768px) {
  /*Atributos primer contenedor para logo y redes*/
  .redes {
    background: linear-gradient(to top, black 50%, #457e53); }
  .logo {
    margin: auto;
    font-size: 20px; }
  .logoRedes {
    display: none; }
  /*Atributos del contenedor menu*/
  .logoMenu {
    margin-left: 5px; }
  .navegacion {
    display: none; }
  .dropdown {
    visibility: visible;
    justify-self: right;
    margin-right: 10px;
    font-family: "Orbitron", sans-serif; }
  #dropdownMenuButton1 {
    width: 190px;
    color: #949280; }
  .dropdown-menu {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    min-width: 190px; }
  .menu ul li a {
    font-size: 15px;
    padding: 8px 0px; }
  .menu ul li a img {
    width: 30px; }
  /*contenido principal pagina*/
  h1, .animate__fadeInLeft {
    font-size: 40px;
    text-align: center;
    color: #967882; }
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 750px 1900px 650px;
    grid-template-areas: "area0" "area1" "area2";
    row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 0px; }
  .noticia h2 {
    text-align: center; }
  /*Pagina Musica*/
  #grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "foto1 foto1" "foto1 foto1" "foto2 foto3" "foto7 foto7" "foto5 foto6"    "foto4 foto4" "foto4 foto4" "foto8 foto9";
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center; }
  #grid2 {
    grid-template-areas: "foto1 foto2" "foto3 foto3" "foto3 foto3" "foto7 foto7" "foto4 foto5" "foto6 foto6" "foto6 foto6" "foto8 foto9"; }
  /*Pagina Entretenimiento*/
  #grid5 {
    grid-template-areas: "foto3 foto3" "foto3 foto3" "foto1 foto2"                                  "foto9 foto9" "foto5 foto6" "foto4 foto4" "foto4 foto4"                                  "foto7 foto8"; }
  /*pagina lifestyle*/
  #grid6 {
    grid-template-areas: "foto1 foto2" "foto4 foto4" "foto4 foto4" "foto8 foto9" "foto7 foto7" "foto7 foto7" "foto3 foto3" "foto5 foto6"; }
  /*Pagina Literatura*/
  #grid4 {
    grid-template-areas: "foto6 foto6" "foto1 foto4" "foto5 foto5" "foto5 foto5" "foto2 foto3" "foto7 foto7" "foto7 foto7" "foto8 foto9"; }
  /*Pagina Series*/
  #grid3 {
    grid-template-areas: "foto1 foto1" "foto2 foto3" "foto6 foto6" "foto6 foto6" "foto4 foto5" "foto7 foto7" "foto7 foto7" "foto8 foto9"; }
  form {
    text-align: center;
    color: #949280; }
  /*Contenido del footer*/
  .pie {
    height: 400px; }
  #carousel1 {
    display: none; } }

@media only screen and (max-width: 576px) {
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 650px 2100px 700px;
    grid-template-areas: "area0" "area1" "area2";
    row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 0px; }
  .ads img {
    width: 130px; }
  /*Pagina Musica*/
  #grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-areas: "foto1 foto1" "foto1 foto1" "foto2 foto3" "foto7 foto7" "foto5 foto6"    "foto4 foto4" "foto4 foto4" "foto8 foto9";
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center; }
  #grid2 {
    grid-template-areas: "foto1 foto2" "foto3 foto3" "foto3 foto3" "foto7 foto7" "foto4 foto5" "foto6 foto6" "foto6 foto6" "foto8 foto9"; }
  /*Pagina Entretenimiento*/
  #grid5 {
    grid-template-areas: "foto3 foto3" "foto3 foto3" "foto1 foto2" "foto9 foto9" "foto5 foto6" "foto4 foto4" "foto4 foto4" "foto7 foto8"; }
  /*pagina lifestyle*/
  #grid6 {
    grid-template-areas: "foto1 foto2" "foto4 foto4" "foto4 foto4" "foto8 foto9" "foto7 foto7" "foto7 foto7" "foto3 foto3" "foto5 foto6"; }
  /*Pagina Literatura*/
  #grid4 {
    grid-template-areas: "foto6 foto6" "foto1 foto4" "foto5 foto5" "foto5 foto5" "foto2 foto3" "foto7 foto7" "foto7 foto7" "foto8 foto9"; }
  /*Pagina Series*/
  #grid3 {
    grid-template-areas: "foto1 foto1" "foto2 foto3" "foto6 foto6" "foto6 foto6" "foto4 foto5" "foto7 foto7" "foto7 foto7" "foto8 foto9"; } }

@media only screen and (max-width: 480px) {
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 650px 2100px 1000px;
    grid-template-areas: "area0" "area1" "area2";
    row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 0px; } }

@media only screen and (max-width: 320px) {
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 650px 2100px 1800px;
    grid-template-areas: "area0" "area1" "area2";
    row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 0px; } }

body {
  background-color: #0f0f0f;
  width: 100%; }
