$background-principal:#0f0f0f;
$background-secundario: black;
$color-principal: #949280;
$color-secundario: #967882;
$color-terciario: #457e53;
$color-animacion: rgba(255, 255, 101, 0.637);
$transparencia-menu: #000000c9;
$transparencia-imagen: rgba(17, 17, 17, 0.445);
$color-texto-imagen: rgb(228, 228, 228);